@import "../../assets/sass/main.scss";
.login_details {
  @include flex-justify-center();
  position: relative;
  width: 100%;
  &__background {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 12vw;
    z-index: -1;
    background-color: $black;
  }
  .login_wrapper {
    width: 270px;
    margin: 10% 0;
    background: $white;
    box-shadow: 0 5px 10px 0 rgb(40 47 53 / 19%);
    .member_login {
      text-align: center;
      color: $white;
      background: $color_common_text;
      font-size: 11px;
      padding: 8px;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .credentials {
      margin: 7px 38px;
      @include flex-item-center();
      .circle {
        margin-right: 10px;
        height: 6px;
        width: 6px;
        background-color: $color_common_text;
        border-radius: 30px;
      }
      .clubid {
        font-size: 11px;
      }
    }

    .input {
      margin: 0 38px;
      border: 1px solid $lightblue;
      border-radius: 2px;
      font-size: 10px;
      font-weight: 500;
      width: 170px;
      outline: none;
      padding-left: 20px;
    }
    .forgot_password {
      font-size: 9px;
      font-weight: 600;
      margin: 0 0 3% 38px;
      color: $color_common_text;
      text-decoration: underline;
      cursor: pointer;
    }
    .dividing_line {
      border-bottom: 1.5px solid $lightgray;
      margin-bottom: 4px;
    }
    .login_button {
      text-align: center;
      margin-bottom: 3.5%;
      &__button {
        cursor: pointer;
        border: none;
        padding: 5px 34px;
        background: $color_common_text;
        color: $white;
        font-size: 10px;
      }
    }
    .login_terms {
      text-align: center;
      font-size: 10px;
      margin: 0 auto 5% auto;
      width: 84%;
      line-height: 13px;
      &--link {
        line-height: 13px;
        font-size: 10px;
        color: $color_common_text;
        text-decoration: underline;
      }
    }
  }
}
:host ::ng-deep .password {
  @include flex-space-between();
  border-radius: 2px;
  border: 1px solid $lightblue;
  margin: 0 38px 3% 38px;
  padding: 0 8px 0 20px;
  &__input {
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: $font-weight-light;
  }
  .show_hide {
    font-size: 10px;
    color: $color_common_text;
    cursor: pointer;
  }
}
