<header>
  <div class="header">
    <div class="container">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="header_logo">
      <a routerLink="/app-home" href="#"
        ><img class="header_logo__block" src="../../assets/png/logo.png" />
      </a>
    </div>
    <nav class="header_container">
      <div class="nav_list">REWARDS</div>
      <div class="nav_list">EARN & REDEEM</div>
      <div class="nav_list">PROMOTIONS</div>
      <div class="nav_list">FAQ</div>
      <div class="nav_list">MORE(GIFT CARDS)</div>
      <div class="nav_list">Beta CRR- test</div>
      <div class="nav_list">Beta CRR- test</div>
    </nav>
    <div class="header_login">
      <div class="header_language">
        <div class="header_language__selected">EN</div>
        / FR
      </div>
      <button type="button" class="login" (click)="navigateWithState()">
        LOGIN
      </button>
    </div>
  </div>
</header>
