<footer class="footer_container">
  <div class="footer_wrapper">
    <div class="footer_logo">
      <img class="footer_logo__block" src="../../assets/png/logo.png" />
    </div>
    <div class="about_container">
      <div class="about_wrapper">
        <div class="about">About</div>
        <div class="about_content1">Gateway Casino & Entertainment Limited</div>
      </div>
      <div class="about_wrapper">
        <div class="about_content">Terms & Conditions</div>
        <div class="about_content">Privacy Policy</div>
      </div>
      <div class="about_wrapper">
        <div class="about_content">Have Questions?</div>
        <a href="tel:123-456-7890" class="about_content">Call 1-134-244-2441</a>
      </div>
    </div>
  </div>
  <div class="copyright_info">
    Copyright ©2020 Gateway Casinos & Entertainment Limited | All Rights
    Reserved
  </div>
  <div class="footer_wrapper2">
    <div class="play_smart">
      <div class="play_smart__logo">
        <img
          class="play_smart__logo--block"
          src="../../assets/png/playsmart.png"
        />
      </div>
      <div class="play_smart__agelimit">
        <img
          class="play_smart__agelimit--block"
          src="../../assets/png/19plus.png"
        />
      </div>
    </div>
    <div class="mcr_about">
      Participation in this program is limited to My Club Rewards members. You
      must be 19 years of age or older to enter the gaming floor, and to
      participate in any promotions offered by Gateway. You must provide valid
      government-issued identification. If you are 21 years of age or younger,
      you may be required to provide two pieces of identification. You may not
      enter our facilities if you have voluntarily self-excluded under a
      responsible gaming program, or if you have been barred from entry by
      Gateway or OLG. Terms and conditions apply to all promotions offered by
      Gateway.
    </div>
    <div class="gateway_logo">
      <img class="gateway_logo__block" src="../../assets/png/logo.png" />
    </div>
  </div>
</footer>
