@import "../../assets/sass/main.scss";
.footer_container {
  background: $black;
  padding: 2% 4%;

  color: $white;
  .footer_wrapper {
    display: flex;
    @media only screen and (max-width: $tablet) {
      display: block;
    }
    .footer_logo {
      width: 106px;
      height: 64px;
      margin-right: 6%;
      @media only screen and (max-width: $tablet) {
        margin: 0 auto 15px auto;
      }
      &__block {
        @include block();
      }
    }
    .about_container {
      @include flex-space-between();
      width: 68%;
      @media only screen and (max-width: $tablet) {
        @include flex-all-center();
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
      }

      .about_wrapper {
        @media only screen and (max-width: $tablet) {
          display: flex;
        }
        .about {
          font-size: 14px;
          font-weight: 600;
          @media only screen and (max-width: $tablet) {
            margin: 0 23px;
          }
        }
        .about_content1 {
          font-size: 10px;
          font-weight: 600;
          @media only screen and (max-width: $tablet) {
            display: none;
          }
        }
        .about_content1:hover {
          color: $color_common_text;
        }
        .about_content {
          font-size: 10px;
          font-weight: 600;
          text-decoration: none;
          color: $white;
          @media only screen and (max-width: $tablet) {
            margin-right: 22px;
            font-size: 14px;
            width: 132px;
          }
        }
        .about_content:hover {
          color: $color_common_text;
        }
      }
    }
  }
  .copyright_info {
    text-align: center;
    font-size: 9.4px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .footer_wrapper2 {
    @include flex-space-between();
    @media only screen and (max-width: $tablet) {
      display: block;
    }
    .play_smart {
      @media only screen and (max-width: $tablet) {
        @include flex-between-center();
        position: absolute;
        left: 44%;
        height: 168px;
        width: 138px;
      }

      &__logo {
        width: 72px;
        height: 34px;
        margin-bottom: 10px;
        @media only screen and (max-width: $tablet) {
          margin-bottom: 0;
          margin-top: auto;
        }
        &--block {
          @include block();
        }
      }
      &__agelimit {
        width: 26px;
        height: 26px;
        @media only screen and (max-width: $tablet) {
          margin-top: auto;
        }
        &--block {
          @include block();
        }
      }
    }
    .mcr_about {
      font-size: 8px;
      font-weight: 600;
      line-height: 14px;
      width: 77%;
      text-align: center;
      color: $color_mcr_about;
      @media only screen and (max-width: $tablet) {
        margin: 0 auto 3.5% auto;
      }
    }
    .gateway_logo {
      width: 56px;
      height: 29px;
      @media only screen and (max-width: $tablet) {
        padding-bottom: 8%;
        margin: 0 auto;
      }
      &__block {
        @include block();
      }
    }
  }
}
