// Constant Variables

$width-full: 100%;
$width-half: 50%;
$height-full: 100%;

// color constant

$white: white;
$black: black;
$lightgray: lightgray;
$lightblue: lightblue;

// Font Weights

$font-weight-light: 500;
$font-weight-medium: 600;
$font-weight-heavy: 700;
