<div class="rewards_wrapper">
  <div class="rewards">REWARDS</div>
  <div class="reward_about">
    Exciting prizes, more rewards, just for you! There are five tiers of My Club
    Rewards<br />membership. Earn tier points while you play, and enjoy all we
    have to offer!
  </div>
  <div class="reward_arrow">
    <img class="reward_arrow__block" src="../../assets/png/down-arrow.png" />
  </div>
</div>
<div class="rewards_section">
  <div class="rewards_section__background"></div>
  <div class="rewards_cards_container">
    <div class="rewards_card">
      <div class="rewards_card__image">
        <img
          class="rewards_card__image--block"
          src="../../assets/jpg/Slots.jpg"
        />
      </div>
      <div class="rewards_card__content">Earn Free Slot Play</div>
    </div>
    <div class="rewards_card">
      <div class="rewards_card__image">
        <img
          class="rewards_card__image--block"
          src="../../assets/jpg/Slots.jpg"
        />
      </div>
      <div class="rewards_card__content">Earn Free Slot Play</div>
    </div>
    <div class="rewards_card">
      <div class="rewards_card__image">
        <img
          class="rewards_card__image--block"
          src="../../assets/jpg/Slots.jpg"
        />
      </div>
      <div class="rewards_card__content">Earn Free Slot Play</div>
    </div>
    <div class="rewards_card">
      <div class="rewards_card__image">
        <img
          class="rewards_card__image--block"
          src="../../assets/jpg/Slots.jpg"
        />
      </div>
      <div class="rewards_card__content">Earn Free Slot Play</div>
    </div>
    <div class="rewards_card">
      <div class="rewards_card__image">
        <img
          class="rewards_card__image--block"
          src="../../assets/jpg/Slots.jpg"
        />
      </div>
      <div class="rewards_card__content">Earn Free Slot Play</div>
    </div>
  </div>
</div>
<div class="see_rewards">
  <button type="button" class="see_rewards__button">SEE ALL REWARDS</button>
</div>
<div class="see_rewards_details">
  <div class="see_rewards_details__content1">
    Earn 1 Tier Point for every $10 played on reel slots, $20 on video poker,
    and $40 on e-table games.
  </div>
  <div class="see_rewards_details__content2">
    Tier Points determine your Membership Level, which is calculated anually on
    April 1st based on Tier<br />
    Points collected from April 1st to March 31st of the previous Tier year.
  </div>
</div>
