<div class="updates">
  <div class="update">UPDATES ON COVID 19</div>
  <button type="button" class="updates__button">CLICK HERE</button>
</div>
<div class="banner">
  <div class="club_cards">
    <div class="club_cards__image">
      <img
        class="club_cards__image--block"
        src="../../assets/png/banner-card.png"
      />
    </div>
    <button type="button" class="join_club">JOIN THE CLUB</button>
  </div>
  <div class="rewards">
    <div class="rewards__details">BIGGER. BETTER. MORE REWARDS</div>
    <div class="membership">
      <div class="membership__arrow">
        <img
          class="membership__arrow--block"
          src="../../assets/png/right-arrow.png"
        />
      </div>
      <div class="membership__join">MEMBERSHIP IS FREE</div>
    </div>
  </div>
  <div class="heroimage">
    <img class="heroimage__block" src="../../assets/png/HomepageHero.png" />
  </div>
</div>
